@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

html{
    scroll-behavior: smooth
}

:root{
    --background-page: #050505;
    --border-color: #191919;
    --background-article: #1E1E1E; 
    --background-tarjeta: #141414;
    --border-color-tarjeta: #1F1F1F;
}

body{
    background-color: var(--background-page);
    width: 100%;
    min-height: 100vh;
    display: flex;
    gap: 20px;
    justify-content: center;
    flex-wrap: wrap;
    color: rgb(209, 209, 209);

}

.container{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.publicidad{
    border: 1px solid var(--border-color);
    border-radius: 10px;
    background-color: var(--background-article);
    padding: 10px;
    width: 300px;
    height: 90vh;
}

.content{
    width: 100vw;
    max-width: 700px;
}

.fila-acerca-de-reproductor{
    display: flex;
    justify-content: space-evenly;
    gap: 30px;
    width: 50vw;
    flex-wrap: wrap;
    padding: 20px;
    margin: auto;
}

.tarjeta-info{
    aspect-ratio: 2/2;
    width: 200px;
    padding:20px;
}

.tarjeta-info div{
    display: flex;
    align-items: center;
    justify-content: center;
}

.tarjeta-info div h3{
    font-size: 60px;
}

.tarjeta{
    background-color: var(--background-tarjeta);
    border: 1px solid var(--border-color-tarjeta);
    border-radius: 30px;
    width: 150px;
    padding: 0 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.fila-acerca-de-reproductor article{
    border: 1 solid var(--border-color);
    border-radius: 10px;
    background-color: var(--background-article);
    padding: 10px;
}

.fila-genero-musicales{
    padding: 20px;
}

.titulo-genero-musical{
    font-weight: 300;
    font-size: 2em;
}

.fila-content-generos,.fila-content-artistas{
    background-color: var(--background-article);
    border: 1px solid var(--border-color);
    border-radius: 10px;
    display: flex;
    justify-content: space-around;
    gap: 20px;
    padding: 10px;
    overflow-x: auto;
    /* max-width: 700px; */
    scroll-behavior: smooth;
}

.fila-content-generos::-webkit-scrollbar, .fila-content-artistas::-webkit-scrollbar{
    display: none;
}

.poster-genero{
    width: 131px;
    border-radius: 20px;
    object-fit: cover;
    aspect-ratio: 2/2;
}

.ancla-genero{
    text-decoration: none;
    color: white;
}

.article-content-genero{
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-x: auto;
}

.article-content-genero img{
    padding: 10px
}

/* reproductor estilos */

.content-artista{
    background-color: var(--background-article);
    border: var(--border-color) 1px solid;
    border-radius: 10px;
    width: 500px;   
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin: 20px;
}


.content-img-portada{
    position: relative;
}

.content-img-portada::before{
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    right: 0;
    background: linear-gradient(to bottom, transparent, #1E1E1E);
}

.portada-img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px 10px 0 0;
}


.content-img-portada h3{
    color: white;
    font-weight: 300;
    font-size: 2em;
    position: absolute;
    bottom: 20px;
    left: 20px;
}

.content-img-portada svg{
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
}

.content-img-portada svg path{
    fill: #959595;
    transition: fill 500ms;
    &:hover{
        fill: #f2f2f2;
    }
}

.ancla-reproductor{
    text-decoration: none;
}

.content-list-music{
    padding: 6px 20px;
    margin: 0 5px;
    display: flex;
    align-items: start;
    cursor: pointer;
    border-radius: 10px;
    gap: 20px;
}

.content-list-music:hover   {
    background-color: #282828;
}

.poster-img{
    width: 40px;
    border-radius: 10px;
}


.content-list-music h3{
    color: white;
    font-size: 1em;
    font-weight: 400;
}

.content-reproductor{
    background: var(--background-article);
    border: var(--border-color) 1px solid;
    border-radius: 10px;
    min-height: 90dvh;
    /* flex-grow: 1; */
    margin: 20px;
    max-width: 700px;
    overflow-x: scroll;
    display: grid;
    grid-template-columns: repeat(2, max(100%));
    scroll-snap-type: x mandatory;
}

.content-reproductor::-webkit-scrollbar{
    display: none;
}

.reproductor-content-audio{
    position: relative;
    width: 100%;
    height: 100%;
    scroll-snap-align: start;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
}


.reproductor-content-audio svg{
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
}

.reproductor-content-audio svg path{
    transition: fill 500ms;
    fill: #959595;
    &:hover{
        fill: #f2f2f2;
    }
}

.reproductor-poster-img{
    aspect-ratio: 2/2;
    border-radius: 10px;
    width: 40%;
    object-fit: cover;
    padding: 10px;
}


.reproductor-nombre-cancion{
    font-weight: 400;
    color: white;
}

.reprodutor-nombre-artista{
    font-weight: 300;
    color: rgb(163, 163, 163);
}


#player{
    margin: 40px;
}

.reproductor-content-video{

    height: 100%;
    width: 100%;
    display: grid;
    scroll-snap-align: start;
}



.reproductor-content-video iframe{
    aspect-ratio: 16/9;
    width: 95%;
    margin: auto;
}